	<div class="blog_header">
		  <h1> Tacos, by type</h1>
  <h3>
    <time>
      Monday, October 26, 2015
    </time>
  </h3>
	</div>
  <article>
  	<p>
  		I'm here to share with you a simple chart on tacos. There are lots of typs of tacos, but for this example, we will look at two common taco types and how delicious they are. 
  	</p>
      <table border="1">
        <thead>
          <tr>
           <th colspan="3">
            Tacos, by type
            </th>
          </tr>
          <tr>
            <th>
              Taco
            </th>
            <th>
             Delicious?
            </th>
            <th>
              Evidence
            </th>
          </tr>
        </thead>
        <tr>
          <td style="text-align: center">
            Street           </td>
            <td style="text-align:center">
            <strong>YES</strong>
          </td>
          <td>
            <img src="images/street_tacos.jpeg">
         </td>
       </tr>
       <tr>
         <td style="text-align: center">
           Taco Bell
         </td>
          <td style="text-align: center">
            <strong>NO WAY</strong>
          </td>
          <td>
            <img src="images/taco_bell.jpeg">
          </td>
        </tr>
      </table>
  </article>

  <div class="blog_header">
  	<h1> Another Blog post </h1>
		<h3>
			<time>
				Some date
			</time>
		</h3>
  </div>

	<article>
		Here's some other stuff I could tell you in a blog post. Because I want to see how it looks when I format it, and therefore I need more content, but I'm not feeling particularly creative right now. I do actually love tacos though. I think I'm getting some tacos at lunch time from Taco Time because now Brittany has us all wanting to try it out. I don't think there's such a think as too many tacos, ya know? They are a perfect food group. Tacos 4 Lyfe. (The table above looks icky, but I don't really like tables anyway, so I don't really know how to format it in a way that looks good. because I think they all look dumb. Ugh.)
	</article>