  <div class="content_block">
    I'm a student at Ada Developer's Academy, where I'm learning to be a <strong>badass</strong> web developer. I'm new to Seattle, and getting used to the gray. (Thank goodness for candles.)
  </div>
  <div class="content_block">
    I also think tacos are delicious.
  </div>
