<html lang=en>

<head>
	<link href="css/main.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Amatic+SC|Coming+Soon|Roboto+Condensed:400,700|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <meta property="og:title" content="Street Tacos 4 Lyfe">
  <meta property="og:image" content="images/street_tacos.jpeg">
  <meta property="og:description" content="Riley and her taco obsession, among other things">
  <title> One Site to Rule Them All </title>
</head>

<body>
	<div id="wrap">
	<header>
		<nav>
      <a href="/index">Home</a>
      <a href="/blog">Blog</a>
      <a href="/taco_corn">TacoCorns!</a>
    </nav>
	</header>
  <div class="content_block">
    I'm a student at Ada Developer's Academy, where I'm learning to be a <strong>badass</strong> web developer. I'm new to Seattle, and getting used to the gray. (Thank goodness for candles.)
  </div>
  <div class="content_block">
    I also think tacos are delicious.
  </div>

  <footer>
    Follow my <a href="blog">Blog</a>!
  </footer>
	</div>
</body>

</html>