<html>
  <head>
    <link href="css/main.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC|Coming+Soon|Roboto+Condensed:400,700|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <meta property="og:title" content="Street Tacos 4 Lyfe">
    <meta property="og:image" content="images/street_tacos.jpeg">
    <meta property="og:description" content="Riley and her taco obsession, among other things">
    <title> <%= @title %> </title>
  </head>
  <body>
    <div id="wrap">
      <header>
        <nav>
          <a href="/index">Home</a>
          <a href="/blog">Blog</a>
          <a href="/taco_corn">TacoCorns!</a>
        </nav>
      </header> 
       
    </div>
  </body>
</html>