<div class='creator_block'>
  <p>
    <%= @intro %>
  </p>
  <img id=tacocorn src="images/<%= @tacocorn %>" alt="Photo of TacoCorn">
  <p>
    <%= @uni.name %> is hungry! They need <%= @uni.hunger %> tacos to fill up their big maw.
  </p>
</div>