<html lang=en>

<head>
	<link href='https://fonts.googleapis.com/css?family=Amatic+SC|Coming+Soon|Roboto+Condensed:400,700|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link href="css/main.css" rel="stylesheet">
  <meta property="og:title" content="Street Tacos 4 Lyfe">
  <meta property="og:image" content="images/street_tacos.jpeg">
  <meta property="og:description" content="Riley and her taco obsession, among other things">

  <title> One Site to Rule Them All </title>
</head>

<body>
	<header>
		<nav>
      <a href="/index">Home</a>
      <a href="/blog">Blog</a>
      <a href="/taco_corn">TacoCorns!</a>
    </nav>
	</header>
		<div class="header_block">
        TacoCorns are, as you would think, Taco-Unicorns. They are pretty <strong>awesome</strong>, and if you don't believe me, just check them out for yourself:
    </div>
      <img src="images/taco_unicorn.jpeg"
        height = '400' alt='A Moustached Unicorn Eating A Delicious Taco'>
      <img src="images/hipster_tacocorn.png">
    <aside>
      <p>
        I also think tacos are delicious.
      </p>
    </aside>

  <footer>
    Follow my <a href="blog">Blog</a>!
  </footer>

</body>

</html>