body{
  width: 900px
  background-color: #FFEFAD;
  margin: 0 auto;
}

header {
  background-color: #EAAAFF;  
}

div#wrap{s
  background-color: #FFEFAD;
  width:90%;
  margin: 0 auto;
}

nav {
  text-align: center;
}

nav a{
  margin: 0px 25px;
}

a {
  font-family: 'Amatic SC', courier;
  font-size: 40px;
  text-decoration: none;
}

a:link {
  color: #009090;
}

a:visited {
  color:#006666;
}

a:hover {
  color: #4F1A4F;
}

a:active {
  color: #220B22;
}

.content_block {
  display: inline-block;
  width: 25%;
  height: 35%;
  background-color: #00CC99;
  margin: 10px auto;
  padding: 30px;
  font-family: 'Coming Soon', sans-serif;
  text-align: center;
}

.creator_block { 
  background-color: #00CC99;
  /*display: inline-block;*/
  width: 500px;
  margin: 10 auto;
  padding: 20px;
  font-family: 'Coming Soon', sans-serif;
  text-align: center;
}

.header_block{
  display: inline-block;
  margin: 10px auto;
  padding: 10px;
  background-color: #00CC99;
  font-family: 'Coming Soon', sans-serif;
  text-align: center;
}

.blog_header{
  width: 25%;
  padding: 10px;
  margin: 10 auto;
  background-color: #00CC99;
  font-family: 'Amatic SC', sans-serif;
  text-align: center;
}

article {
  width: 75%;
  border: 2px black dashed;
  margin: 10 auto;
  padding: 10px;
  font-family: 'Roboto Condensed', sans-serif;
}

aside {
  background-color: #F4007A;
  font-family: "Coming Soon", serif;
  text-align: center;
  margin: 10 auto;
  padding: 15px;
}

table {
  border: 1px solid black;
}

thead {
  border: none;
  border-bottom: 1px solid black;
}

img#tacocorn {
  display: inline-block;
  width: 300px;
  display: block;
  margin: 0 auto;
}

footer {
  text-align: center;
  background-color: #EAAAFF;
  font-size: 40px;
  font-family: 'Amatic SC', sans-serif;
}

footer div {
  display: inline-block;
  margin: 0px 15px;
}